Bottleneck==1.2.1
Cython==0.28.2
cytoolz==0.9.0.1
Django==2.0.7
docutils==0.14
entrypoints==0.2.3
gunicorn==19.9.0
h5py==2.7.1
html5lib==0.9999999
httplib2==0.11.3
imageio==2.3.0
imagesize==1.0.0
jedi==0.12.0
Jinja2==2.10
jsonschema==2.6.0
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
numba==0.38.0
numexpr==2.6.5
numpy==1.14.3
numpydoc==0.8.0
oauth2client==4.1.2
pandas==0.23.0
pandocfilters==1.4.2
path.py==11.0.1
pathlib2==2.3.2
pep8==1.7.1
pexpect==4.5.0
pickleshare==0.7.4
Pillow==5.1.0
py==1.5.3
python-dateutil==2.7.3
requests==2.18.4
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.1.0
spyder==3.2.8
tensorboard==1.8.0
tensorflow==2.5.3
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
toolz==0.9.0
tornado==5.0.2
unicodecsv==0.14.1
urllib3==1.22
whitenoise==3.3.1

